@import url('https://fonts.googleapis.com/css?family=Prompt');

.container:before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-image: url("/icon.png");
    background-position: center;
    background-repeat: no-repeat;
    -ms-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}
body{
    font-family: 'Prompt',prompt;
}